<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book_management.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book_management.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book_management.author.name %>
</p>

<p>
  <strong>Category Name:</strong>
  <%= @book_management.category.category_name %>
</p>

<p>
  <strong>Published Date:</strong>
  <%= @book_management.published_date %>
</p>

<p>
  <strong>PDF Download:</strong>
  <%= link_to book_management_download_pdf_path(@book_management), type: "application/pdf" do %>
    <%= @book_management.pdf_attachment %>
  <% end %>
</p>

<p>
  <strong>Cover Photo:</strong>
  <%= link_to image_tag(@book_management.book_image, style: 'width: 20%, height: 10%') %> 
</p>

<%= link_to 'Edit', edit_book_management_path(@book_management) %> |
<%= link_to 'Back', book_managements_path %>
