<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @author.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @author.address %>
</p>

<p cla>
  <%= link_to image_tag(@author.author_image, style: 'width: 20%, height: 10%'), authors_path %> 
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
