<%# <p id="notice"><%= notice ></p> %>
<div class="mt-4 mb-4">
  <button type="button" class="btn btn-primary position-relative">
  Projects
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    <%= @projects.count %>
    <%# <span class="visually-hidden">unread messages</span> %>
  </span>
</button>
</div>

<div class="row align-items-start">
  <% @projects.each do |project| %>
    <div class="col-4">
      <%= link_to project, class: "block" do %>
        <div class="card">
          <div class="card-header">
            <%= project.title %>
          </div>
          <div class="card-body text-decoration-none">
            <%# <h5 class="card-title">Special title treatment</h5> %>
            <p class="card-text"><%= truncate(project.description, length: 200) %></p>
            <button type="button" class="btn btn-sm btn-outline-info">Info</button>
          </div>
        </div>
      <% end %>    
    </div>
  <% end %>
</div>

<%= link_to 'New Project', new_project_path %>
